BotCian/
postgresql/
blockchain.info/
MasterDesktop/.vs/
MasterDesktop/MasterDesktop/obj/
MasterDesktop/MasterDesktop/obj/Debug/
MasterDesktop/packages/
MasterDesktop/MasterDesktop/bin/
MasterDesktop/MasterDesktop.sln
