MasterDesktop/MasterDesktop/obj/Debug/MasterDesktop.csproj.CoreCompileInputs.cache
MasterDesktop/MasterDesktop/obj/Debug/Мастер Сервис_MarkupCompile.i.cache
postgresql/texts.py
postgresql/testSTR.py
postgresql/test.py
postgresql/start.sh
postgresql/requirements.txt
postgresql/main.py
postgresql/logs/log2017-11-03-11-05-29.log
postgresql/logs/log2017-11-03-11-05-28.log
postgresql/logs/log2017-11-03-11-05-27.log
postgresql/logs/log2017-11-03-11-03-15.log
postgresql/imgur.py
postgresql/func.py
postgresql/alert_system.py
postgresql/__pycache__/texts.cpython-36.pyc
postgresql/__pycache__/imgur.cpython-36.pyc
postgresql/__pycache__/func.cpython-36.pyc
postgresql/__pycache__/func.cpython-34.pyc
postgresql/__pycache__/alert_system.cpython-36.pyc
postgresql/__pycache__/SQLQueries.cpython-36.pyc
postgresql/__pycache__/SQLQueries.cpython-34.pyc
postgresql/__pycache__/DataBase.cpython-36.pyc
postgresql/__pycache__/DataBase.cpython-34.pyc
postgresql/__init__.py
postgresql/SQLQueries.py
postgresql/QR.jpg
postgresql/Procfile
postgresql/DataBase.py
postgresql/.idea/workspace.xml
postgresql/.idea/postgresql.iml
postgresql/.idea/modules.xml
postgresql/.idea/misc.xml
postgresql/.func.py.swp
postgresql/.func.py.swo
postgresql/.func.py.swn
blockchain.info/runtime.txt
blockchain.info/requirements.txt
blockchain.info/blockchain.info.py
blockchain.info/blockchain.info.log
blockchain.info/SQLAlchemyData.py
blockchain.info/README.md
blockchain.info/Procfile
blockchain.info/DBSTAT.db
